---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Debian",
    icon: "frameworks/debian",
    url: "https://www.debian.org/",
  },
  {
    title: "Solana",
    icon: "frameworks/solana",
    url: "https://solana.org/",
  },
  {
    title: "Rust",
    icon: "frameworks/rust",
    url: "https://www.rust-lang.org/",
  },
  {
    title: "Ruby on Rails",
    icon: "frameworks/ruby-on-rails",
    url: "https://rubyonrails.org/",
  },
  {
    title: "TypeScript",
    icon: "frameworks/typescript",
    url: "https://www.typescriptlang.org/",
  },
  {
    title: "React",
    icon: "frameworks/react",
    url: "https://reactjs.org/",
  },
  {
    title: "NextJS",
    icon: "frameworks/nextjs",
    url: "https://nextjs.org/",
  },
  {
    title: "Node.js",
    icon: "frameworks/nodejs",
    url: "https://nodejs.org/",
  },
  {
    title: "Swift",
    icon: "frameworks/swift",
    url: "https://swift.org/",
  },
  {
    title: "Astro",
    icon: "frameworks/astro",
    url: "https://astro.build/",
  },
];
---

<ContentSection title="Modern Stacks" id="compatibility">
  <Fragment slot="lead">
    Have a <span class="text-primary">work</span> instead of a job. Work with modern
    {" "}
    <span class="text-primary">technologies</span>
    and solve <span class="text-primary">real</span> problems.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Technologies"
    url="https://5mb.app/"
  />
</ContentSection>
